# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Terraform / IaaC
terraform.tfstate
terraform.tfstate.backup
terraform/modules/archive/lambda-function-payload.zip

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
**/.terraform.lock.hcl

# .tfvars files
*.tfvars

# build
/build

# misc
.DS_Store

# testing
coverage
.nyc_output
